{% extends "html/base.html" %}

{% block main %}
<form action="/" method="post" class="rows">
  {% if error %}
    <section class="errors">
      <div>{{error}}</div>
    </section>
  {% endif %}
  <div>
    <label for="url">URL to shorten:</label>
    <div class="right">
      <input type="text" name="url" id="url" value="{{url}}" required>
    </div>
  </div>
  <div>
    <label for="slug">Custom link (optional):</label>
    <div class="right">
      <code>{% safe %}{{base-uri}}{% endsafe %}</code>
      <input type="text" name="slug" id="slug">
    </div>
  </div>
  <div class="hidden errors" data-js="slug-error"></div>
  <div class="center">
    <button type="submit" data-js="submit">Shorten!</button>
  </div>
</form>

{% if recent %}
  <aside class="recent">
    <h2>Recent:</h2>
    <ul>
      {% for row in recent %}
        <li>
          <a href="/{{row.slug}}"
             class="short-link"
          ><code>/{{row.slug}}</code></a>
          &nbsp;
          <a href="http://api.qrserver.com/v1/create-qr-code/?data={{row.url}}&size=300x300&format=svg"
             target="_blank"
             title="QR code for /{{row.slug}}, in SVG format"
             class="qr-link">[qr]</a>
        </li>
      {% endfor %}
    </ul>
  </aside>
{% endif %}

<script src="/js/home.js"></script>
{% endblock %}
