{% extends "html/base.html" %}

{% block main %}
<form action="/" method="post" class="rows">
  {% if error %}
    <section class="errors">
      <div>{{error}}</div>
    </section>
  {% endif %}
  <div>
    <label for="url">URL to shorten:</label>
    <div class="right">
      <input type="text" name="url" id="url" value="{{url}}">
    </div>
  </div>
  <div>
    <label for="slug">Link (optional):</label>
    <div class="right">
      <code>{% safe %}{{base-uri}}{% endsafe %}</code>
      <input type="text" name="slug" id="slug">
    </div>
  </div>
  <div class="center">
    <button type="submit">Shorten!</button>
  </div>
</form>

{% if recent %}
  <aside class="recent">
    <h2>Recent:</h2>
    <ul>
      {% for row in recent %}
        <li>
          <a href="/{{row.slug}}"><code>/{{row.slug}}</code></a>
        </li>
      {% endfor %}
    </ul>
  </aside>
{% endif %}
{% endblock %}
